body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-layout {
  background-color: #f7f9fc;
}

.main-content {
  padding: 40px 0;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  background: transparent;
}

.page-footer {
  background-color: #eeeeee;
}

.main-header {
  background-color: #3e788c;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

.header-title {
  font-size: 2em;
  font-weight: 100;
  line-height: inherit;
  float: left;
  color: white;
  margin-left: 10px;
  float: right;
}
.header-logo {
  height: 60%;
  margin: 10px auto;
}

.header-logo-wrapper {
  display: inline-block;
  height: 100%;
}

.header-menu {
  float: right;
  background: transparent;
}

.header-menu-item {
  color: white;
}

.header-Submenu-item {
  color: Black;
}

.page-section {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.144);
}

.welcome-message {
  text-align: center;
}

.vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-rule {
  border-left: 1px solid #eeecec;
}

.welcome-message-heading {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-form {
  padding: 10px 20px;
}

.search-form label {
    margin-bottom: 1px;
    font-size: 0.9em;
}

.search-form hr {
  margin: 5px 0;
  border-top: 1px solid #f5f5f5;
}

.search-form b {
  color: #666666;
}

.search-form button {
  margin: 0 auto;
  display: block;
}

.search-select {
  /* background: pink; */
}

.prediction-summary {
  padding: 20px ;
}

.prediction-summary-title {
  font-weight: bold;
  font-size: 1.1em;
}

.prediction-summary-main-text {
  font-size: 1em;
}

.prediction-summary-subtext {
  font-size: 0.9em;
}

.prediction-summary-button {
  margin-top: 50px;
}

.traffic-map-container {
  background-size: 85% 95%;
  background-repeat: no-repeat;
  background-position: -10% 120%;
}

.traffic-map-container > div {
  background: none !important;
}

.edge-linear.muted.edge {
  stroke: #696969;
  stroke-width: 3px;
}

.edge-linear.edge {
  stroke: #0eaada;
  stroke-width: 5px;
}

.map-node-label.map-node-label-circle {
  font-size: 0.9em !important;
  fill: black !important;
}